site_name: SHantilly-Studio Documentation
theme:
  name: material
  palette:
    primary: deep purple
    accent: light blue
  features:
    - navigation.tabs
    - content.code.copy

nav:
  - Home: index.md
  - Architecture: architecture.md
  - API Reference: doxygen/index.html

markdown_extensions:
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
