[Desktop Entry]
Type=Application
Name=SHantilly Studio
Comment=Visual Editor for SHantilly Dialogs
Exec=shantilly-studio
Icon=shantilly-studio
Categories=Development;IDE;GUIDesigner;
Terminal=false
